div {
    text-align: center;
}
h1  {
    color: gold;
}
body {
    background-image: url("https://www.walldevil.com/wallpapers/a74/red-wallpaper-pokeball-pokemon-images.jpg");
    background-size: cover;
}