body {
    background-image: url("https://www.walldevil.com/wallpapers/a74/red-wallpaper-pokeball-pokemon-images.jpg");
    background-size: cover;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
div {
    text-align: center;
}
h1  {
    color: gold;
}